*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  --webkit-font-smoothing:antialiased;
}
html{
  scroll-behavior: smooth;
}

body{
  background-color:#F3EEEA;
}

a{
  text-decoration:none;
}
.continaer{
  padding:0 90px;
  max-width: 1140px;
  
  margin: 0 auto;
}

.btn{
  font-size:1.2rem;
  cursor:pointer;
  padding:10px 34px;
}